<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand py-3" href="/">
      <img src="/images/winner.png" width="30" height="30" class="d-inline-block align-top mr-1" alt="Winner">
      <%= APP_NAME %>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon px-3 py-3"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/dashboard">Dashboard</a>
        </li>

        <% if (typeof user !== 'undefined') { %>
          <li class="nav-item">
            <a class="nav-link execute-post-request" href="/auth/logout">Logout</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
