<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">

    <link rel="icon" type="image/png" href="images/cs_logo.png">
    <title>The Best Company Ltd.</title>
</head>

<body>
<nav class="navbar fixed-top navbar-expand-md navbar-light bg-white site-header">
    <div class="container">
        <a class="navbar-brand py-3 animate-move" href="#top">
            <img src="images/cs_logo.png" width="30" height="30" class="d-inline-block align-top mr-1" alt="CS">
            Best Company Ltd.
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon px-3 py-3"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link animate-move" href="#top">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link animate-move" href="#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link animate-move" href="#showcase">Showcase</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link animate-move" href="#pricing">Pricing</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div id="landing">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1 text-white text-center">
                <div class="inside-div">
                    <h2>"Great minds discuss ideas; average minds discuss events; small minds discuss people."</h2>
                    <h4 class="d-none d-md-block" style="margin-top: 35px; color: #f5f5ff;">&raquo;&nbsp; Eleanor Roosevelt &nbsp;&laquo;</h4>

                    <div class="buttons-div">
                        <a class="btn btn-info px-4 py-3 mx-3 my-2 animate-move" href="#showcase">Projects</a>
                        <a class="btn btn-warning px-4 py-3 mx-3 my-2 animate-move" href="#features">Features</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="showcase">


    <div class="container">
        <div class="row">
            <div class="col-12 col-md-11 col-lg-10">
                <div class="card">

                    <div class="row no-gutters">
                        <div class="col-md-3 col-lg-4">
                            <div class="card-image" style="background-image: url('images/phone.jpg');"></div>
                        </div>
                        <div class="col-md-9 col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title">Pretty phone</h5>
                                <p class="card-text">We're famous for designing and manufacturing awesome smartphones, that you can buy from Amazon or through our website.
                                    Because we use the Android operating system, all of our smartphones offer a (practically) unlimited set of apps and features.</p>

                                <div class="text-right">
                                    <a href="https://www.google.com/search?q=phone" class="btn btn-link text-uppercase">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-12 col-md-11 col-lg-10 offset-md-1 offset-lg-2">
                <div class="card">

                    <div class="row no-gutters">
                        <div class="col-md-3 col-lg-4">
                            <div class="card-image" style="background-image: url('images/android.jpg');"></div>
                        </div>
                        <div class="col-md-9 col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title">Androids</h5>
                                <p class="card-text">How about these pretty guys you can see next to this text. Who wouldn't want to play with them, right?
                                Have in mind that you can find cool photos like this on google, by searching for "public domain photos" and downloading them for free.</p>

                                <div class="text-right">
                                    <a href="https://www.google.com/search?q=public+domain+photos" class="btn btn-link text-uppercase">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-12 col-md-11 col-lg-10">
                <div class="card">

                    <div class="row no-gutters">
                        <div class="col-md-3 col-lg-4">
                            <div class="card-image" style="background-image: url('images/audio.jpg');"></div>
                        </div>
                        <div class="col-md-9 col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title">Audio and more</h5>
                                <p class="card-text">HTML5 offers a lot of features, and most of them are supported by all popular web browsers at use today.
                                Feel free to play with this web page by editing the HTML code with any text editor.</p>

                                <div class="text-right">
                                    <a href="https://www.google.com/search?q=html5" class="btn btn-link text-uppercase">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>







<div id="features">
    <div class="container">
        <div class="row">
            <div class="col-12 text-white">
                <h2 class="text-center" style="font-size: 3rem;">Features</h2>
                <p class="text-center px-md-4 px-lg-5 px-xl-5 pt-2" style="opacity: 0.85;">We offer a lot of features, that are not available anywhere else. Just take a look at the list below.</p>


                <div class="row justify-content-md-center">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="feature">
                            <img src="images/atom.svg">
                            <h4>Markup</h4>
                            <p>HTML5 is a software solution stack that outlines the properties and behaviors of web pages by implementing a markup based pattern to it.
                                HTML 5 is the current version of the HTML standard, allowing us to build diverse and powerful applications.</p>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="feature">
                            <img src="images/jquery.svg">
                            <h4>Scripts</h4>
                            <p>JavaScript, often abbreviated as JS, is a high-level programming language that conforms to the ECMAScript specification -
                                often used in combination with HTML5 to run dynamic web applications supported by desktops, tablets and mobile phones.</p>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="feature">
                            <img src="images/freecodecamp.svg">
                            <h4>Components</h4>
                            <p>Bootstrap is a popular free and open-source front-end Web framework. It contains HTML and CSS-based design components for typography,
                                buttons, forms, navigation, modals and more - in combination with optional JavaScript-based extensions.</p>
                        </div>
                    </div>




                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="feature">
                            <img src="images/amazonaws.svg">
                            <h4>Hosting</h4>
                            <p>Front-end applications, like the one you see here, can be hosted on any popular hosting platform - including Amazon AWS,
                                Google Cloud, DigitalOcean and others. You can buy a domain from a website like namecheap and point it to your server.</p>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="feature">
                            <img src="images/safari.svg">
                            <h4>Browsers</h4>
                            <p>Various web browsers are at use today. We always try to use Google Developer Tools to view our web site at various viewports,
                                and run our apps with both Firefox, IE and Edge before publishing them online for everyone in the world to see.</p>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="feature">
                            <img src="images/wikipedia.svg">
                            <h4>Playground</h4>
                            <p>We're not scared to experiment with new technologies, and neither should you. Learning new stuff - from Youtube, Udemy,
                                Wikipedia or anywhere else - expands our horizons, and enables us to improve both as a web developer, and a team player.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









<div id="pricing">
    <div class="container">

        <div class="row">
            <div class="col-12 text-center">
                <h2 class="my-3">Pricing</h2>
                <p class="mb-5">Start with a 14-day trial today. No credit card required.</p>
            </div>
        </div>

        <div class="row justify-content-center no-gutters">

            <div class="col-md-4">
                <div class="pricing-item mt-md-5">
                    <h3>Basic</h3>
                    <div class="cost">$19 / month</div>
                    <ul>
                        <li>10 pages</li>
                        <li>Lightweight design</li>

                        <li>All devices</li>
                        <li>All browsers</li>
                        <li>Basic support</li>
                    </ul>
                </div>
            </div>



            <div class="col-md-4">
                <div class="pricing-item">
                    <h3>Advanced</h3>
                    <div class="cost">$49 / month</div>
                    <ul>
                        <li>50 pages</li>
                        <li>Lightweight design</li>

                        <li>All devices</li>
                        <li>All browsers</li>
                        <li>Basic support</li>
                    </ul>
                </div>
            </div>


            <div class="col-md-4">
                <div class="pricing-item mt-md-5">
                    <h3>Enterprise</h3>
                    <div class="cost">$99 / month</div>
                    <ul>
                        <li>100 pages</li>
                        <li>Lightweight design</li>

                        <li>All devices</li>
                        <li>All browsers</li>
                        <li>Basic support</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>







<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 text-left">
                <h3>About us</h3>
                <p class="py-2 mb-5" style="opacity: 0.85;">Best Company Ltd is a business located in the United States of America,
                    with an awesome website based on the open-source Bootstrap 4 component library.

                    Feel free to look at the source code of our web site to start learning web development.
                    HTML5, CSS and JavaScript are the technologies you need to look at.</p>
            </div>

            <div class="col-12 col-md-4 text-center">
                <a class="px-3" href="https://facebook.com" style="font-size: 1.5rem; color: white !important"><img src="images/facebook.png"> Facebook</a><br /><br />
                <a class="px-3" href="https://youtube.com" style="font-size: 1.5rem; color: white !important"><img src="images/youtube.png"> You tube</a>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <p class="mt-5">Copyright &copy; 2018, Best Company Ltd.<br /> All rights reserved</p>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
<script src="scripts/main.js"></script>
</body>
</html>
