<%- include('partials/head.ejs'); %>
<%- include('partials/navigation.ejs'); %>


<div class="container">
    <div class="row">
        <div class="col text-center">

            <img class="my-3" src="/images/warning.png" alt="Warning" style="width: 100px; height: 100px;" />

            <div>
                <h2 class="py-3">Ups, an error occurred.</h2>
                <p class="mb-5">We've been notified of the incident, and are working on a fix.</p>
                <div>
                    <a href="/" class="btn btn-primary">Go back</a>
                </div>
            </div>


        </div>
    </div>
</div>


<%- include('partials/footer.ejs'); %>