<%- include('partials/head.ejs'); %>
<%- include('partials/navigation.ejs'); %>


<div class="container">
    <div class="row">
        <div class="col text-center">

            <h1>Welcome</h1>
            <p>This is a starter project, demonstrating how you can use Express.js with EJS, Gulp and Bootstrap.</p>


            <p class="mt-5">You can do cool buttons</p>
            <div>
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-danger">Danger</button>
            </div>

            <div class="alert alert-success mt-5">Or you can do alerts.</div>

            <p class="mt-4">Have fun. Search for "Express docs" or "Bootstrap docs" on Google to learn more.</p>
        </div>
    </div>
</div>


<%- include('partials/footer.ejs'); %>